aside.menu-area{
    background-color: #e52d27;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12),
                2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu-nav a {
   display: block;
   text-decoration: none;
   font-weight: 300;
   color: #fff;
   padding: 15px;
}

.menu-nav a:hover{
   background: linear-gradient(135deg, #e52d27, #b31217 100%);
}

.menu-nav span{
   font-size: 0.9em;
   font-weight: 500;
   padding: 5px;

}
.menu-nav i{
   font-size: 1.5em;
}
