/* main > div {
    background-color: #FFF;
    box-shadow: 0px 0px 15px #0004;
} */

.menu-main{
    display: flex;
    justify-content: space-between;
    padding: 30px;    
}

.cadastro{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.cadastro:hover {
    border: 5px solid #000 ;
}

.cadastro a{
    font-size: 7em;
    color: red;
}

.cadastro span{
    font-size: 1.7em;
    font-weight: 500;
}

.agendamento {
    display: flex;
    flex-direction: column;
    text-decoration: none;    
    align-items: center;

    margin: 0;
    padding: 5px;
}

.agendamento:hover{
    border: 5px solid #000 ;
}

.agendamento a{
    font-size: 7em;
    color: red;
}

.agendamento span{
    font-size: 1.7em;
    font-weight: 500;
}

.atendimento{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.atendimento:hover {
    border: 5px solid #000 ;
}

.atendimento a{
    font-size: 7em;
    color: red;
}

.atendimento span{
    font-size: 1.7em;
    font-weight: 500;
}

.prontuario{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.prontuario:hover {
    border: 5px solid #000 ;
}

.prontuario a{
    font-size: 7em;
    color: red;
}

.prontuario span{
    font-size: 1.7em;
    font-weight: 500;
}

.table{
    margin: 0;
    padding: 10px; 
    border-collapse: collapse;
    width: 100%;
}

.table tr, .table th, .table td{
    border: 1px solid #000;
    text-align: center;

}

.rowButton {
    margin: 0;
    padding: 0 10px 10px 0;
    display: flex;
    justify-content: flex-end;
}

.botaoNovo{
    margin:  0 10px 0 0;
    font-size: 1.2em;
    background-color: white;
    font-weight: 500;
}

.botaoExcluir{
    margin: 0 10px 0 10px;
    font-size: 1.2em;
    background-color: red;
    color: white;
    font-weight: 500;
}
.form-group1{
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center; 
    font-size: 1em;  
}
.nomeLabel{
    margin: 0 10px 0 0;
    font-weight: 500;
}

.form-control{
    margin: 0 10px 0 0;
}
.sexoLabel{
    /* margin: 0 10px 0 0; */
    font-weight: 500;
}

.sexo{
    margin: 0 0 0 10px;
    font-weight: 500;
}