.menu-main{
    display: flex;
    justify-content: space-between;
    padding: 30px;    
}
.cadastro{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.cadastro:hover {
    border: 5px solid #000 ;
}

.cadastro a{
    font-size: 7em;
    color: red;
}

.cadastro span{
    font-size: 1.7em;
    font-weight: 500;
}

.agendamento {
    display: flex;
    flex-direction: column;
    text-decoration: none;    
    align-items: center;

    margin: 0;
    padding: 5px;
}

.agendamento:hover{
    border: 5px solid #000 ;
}

.agendamento a{
    font-size: 7em;
    color: red;
}

.agendamento span{
    font-size: 1.7em;
    font-weight: 500;
}

.atendimento{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.atendimento:hover {
    border: 5px solid #000 ;
}

.atendimento a{
    font-size: 7em;
    color: red;
}

.atendimento span{
    font-size: 1.7em;
    font-weight: 500;
}

.prontuario{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    margin: 0;
    padding: 5px;
}

.prontuario:hover {
    border: 5px solid #000 ;
}

.prontuario a{
    font-size: 7em;
    color: red;
}

.prontuario span{
    font-size: 1.7em;
    font-weight: 500;
}


